._1opu91r0 {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
:root {
  --_1opu91r1: #E26559;
  --_1opu91r2: #3C4043;
  --_1opu91r3: #242628;
  --_1opu91r4: #EBECEC;
  --_1opu91r5: #8A8C8E;
  --_1opu91r6: #B55147;
  --_1opu91r7: #883D35;
  --_1opu91r8: #FFFFFF;
  --_1opu91r9: 12px;
  --_1opu91ra: 14px;
  --_1opu91rb: 1rem;
  --_1opu91rc: 1.125rem;
  --_1opu91rd: 1.25rem;
  --_1opu91re: 400;
  --_1opu91rf: 700;
  --_1opu91rg: Montserrat, sans-serif;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--_1opu91rg);
  text-align: center;
  color: var(--_1opu91r2);
}
* {
  margin-block-end: 0;
  margin-block-start: 0;
}
h1, h2, h3 {
  font-weight: var(--_1opu91rf);
}
._1iuviq80 {
  width: 200px;
  height: 4px;
  background-color: var(--_1opu91r4);
  overflow: hidden;
}
._1iuviq81 {
  height: 100%;
  background-color: var(--_1opu91r1);
  transition: width 0.5s ease-in-out;
}
.ndhfn20 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18.75rem;
  padding: 20px;
  box-sizing: border-box;
  gap: 10px;
}
.ndhfn21 {
  font-size: var(--_1opu91rd);
  line-height: 24px;
  font-style: normal;
  color: var(--_1opu91r2);
}
.ndhfn22 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.ndhfn23 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #D8D9D9;
  width: 5.375rem;
  height: 5.375rem;
}
.ndhfn24 {
  font-size: var(--_1opu91ra);
  font-weight: var(--_1opu91re);
  line-height: 22px;
  font-style: normal;
  color: var(--_1opu91r5);
}
.ndhfn25 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}
.ndhfn26 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.ndhfn27 {
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  border: 1px solid #D8D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ndhfn28 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
}
.ndhfn29 {
  font-size: var(--_1opu91r9);
  font-weight: var(--_1opu91rf);
  line-height: var(--_1opu91rb);
  color: var(--_1opu91r2);
}
.ndhfn2a {
  font-size: var(--_1opu91r9);
  font-weight: var(--_1opu91re);
  line-height: var(--_1opu91rb);
  color: var(--_1opu91r5);
  margin-left: 5px;
}
.ndhfn2b {
  font-size: var(--_1opu91r9);
  font-weight: var(--_1opu91re);
  line-height: var(--_1opu91rb);
  color: var(--_1opu91r5);
  text-align: left;
}
.ndhfn2c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.ndhfn2d {
  font-size: var(--_1opu91ra);
  font-weight: var(--_1opu91rf);
  line-height: 22px;
  color: var(--_1opu91r3);
}
.ndhfn2e {
  font-size: var(--_1opu91r9);
  font-weight: var(--_1opu91rf);
  line-height: var(--_1opu91rb);
  color: var(--_1opu91r1);
  font-family: var(--_1opu91rg);
}
.ndhfn2f {
  background-color: var(--_1opu91r1);
  color: white;
  border: none;
  display: flex;
  flex: 1;
  width: 17.5rem;
  height: 46px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: var(--_1opu91rf);
  font-size: var(--_1opu91ra);
  font-family: var(--_1opu91rg);
  transition: background-color 200ms ease;
}
.ndhfn2f:hover {
  background-color: var(--_1opu91r6);
}
.ndhfn2f:active {
  background-color: var(--_1opu91r7);
}
.ndhfn2f:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
